<div class="text-center">
    <h1 class="applicant-name">Lucas von Niederhäusern</h1>
    <h2 class="job-description">Bachelor in Software Engineering</h2>

    <div class="social-symbols">
        <a href="https://github.com/lvonnied" target="_blank">
            <img src="../../assets/github.png" alt="Github" width="36" height="36" class="social-img">
        </a>
        <a href="https://www.linkedin.com/in/lucas-von-niederhäusern/" target="_blank">
            <img src="../../assets/linkedin.png" alt="LinkedIn" width="36" height="36" class="social-img">
        </a>
    </div>
</div>