.text-center {
    padding: 2rem 1rem;
    background-color: #e9ecef;
    text-align: center;
    position: relative;
}

.applicant-name {
    font-weight: normal;
}

.job-description {
    font-weight: thicker;
}

.social-symbols {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.social-img {
    margin-right: 5px;
}