.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.contact-card {
    width: 70%;
    max-width: 600px;
    padding: 40px;
    background-color: #e9ecef;
    border-radius: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.contact-card-header {
    margin-bottom: 30px;
}

.contact-card-header h2 {
    margin: 0;
}

.contact-card-content {
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.platform-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.platform-card {
    text-align: center;
    flex-basis: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.platform-card:hover {
    transform: translateY(-5px);
}

.platform-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
}