<div class="container">
    <div class="contact-card-container">
        <mat-card class="contact-card">
            <mat-card-header class="contact-card-header">
                <mat-card-title>Contact</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>You can reach me via Email: sample at email.com</p>
                <p>Also feel free to contact me on any of the platforms below:</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="platform-cards-container">
        <mat-card class="platform-card">
            <mat-card-header>
                <div mat-card-avatar class="platform-avatar">
                    <img src="../../assets/github.png" alt="Github">
                </div>
                <mat-card-title>Github</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="platform-card">
            <mat-card-header>
                <div mat-card-avatar class="platform-avatar">
                    <img src="../../assets/linkedin.png" alt="LinkedIn">
                </div>
                <mat-card-title>LinkedIn</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>