.about-me-card,
.featured-project-card {
    max-width: 800px;
}

.about-me-header-image,
.featured-project-header-image {
    background-image: url('../../assets/lucas.png');
    background-size: cover;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}