<div class="container">
    <div class="card-container">
        <mat-card class="about-me-card">
            <mat-card-header>
                <div mat-card-avatar class="about-me-header-image"></div>
                <mat-card-title>Lucas</mat-card-title>
                <mat-card-subtitle>Bachelor in Software Engineering</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/lucas_diplomfeier.jpg" alt="Photo of Lucas">
            <mat-card-content>
                <p>
                    Thank you for visiting my portfolio website.
                    <br><br>
                    I graduated from Ostschweizer Fachhochschule Rapperswil (previously known as "HSR") in February 2024
                    with a Bachelor's degree in Software Engineering. I'm an avid programmer specializing in Fullstack
                    Development.
                    <br><br>
                    I'm proficient in programming languages such as <strong>Java</strong>, <strong>JavaScript</strong>,
                    and <strong>TypeScript</strong>, and have extensive experience with frameworks like
                    <strong>Node.js</strong>, <strong>React</strong>, <strong>React Native</strong> and
                    <strong>Angular</strong>.
                    <br><br>
                    Creating websites and user interfaces, as well as providing the necessary backend support for these
                    projects, fascinates me. I continuously strive to improve my skills, particularly in areas where I
                    have less experience.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>